<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Demo
    </title>

    <meta name="keywords" content="">

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>

    <!-- styles -->
    <link href="static/css/demo/font-awesome.css" rel="stylesheet">
    <link href="static/css/demo/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/demo/animate.min.css" rel="stylesheet">
    <link href="static/css/demo/owl.carousel.css" rel="stylesheet">
    <link href="static/css/demo/owl.theme.css" rel="stylesheet">

    <!-- theme stylesheet -->
    <link href="static/css/demo/style.default.css" rel="stylesheet" id="theme-stylesheet">

    <!-- your stylesheet with modifications -->
    <link href="static/css/demo/custom.css" rel="stylesheet">

    <script src="static/js/demo/respond.min.js"></script>

    <link rel="shortcut icon" href="favicon.png">



</head>

<body>

    <div id="all">

        <div id="content">

            <!-- *** ADVANTAGES HOMEPAGE ***
 _________________________________________________________ -->
            <div id="advantages">

                <div class="container">
                    <div class="same-height-row">
                        <div class="col-sm-12">
                            <div class="box same-height clickable">
                                <h3><a href="#">Twitter Api Demo</a></h3>
                                <p>Enter a keyword into the search box below</p>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->

                </div>
                <!-- /.container -->

            </div>
            <!-- /#advantages -->

            <!-- *** ADVANTAGES END *** -->

            <div class="container">
            <div class="box">
                    <h3>Search tweets</h3>

                    <form>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="search_query">Search</label>
                                    <input class="form-control" id="search_query" type="text">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 text-center">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Submit</button>
                        </div>
                    </form>

                    <hr>
                </div>
            </div>

            <!-- *** BLOG HOMEPAGE ***
 _______________
 __________________________________________ -->
            <div class="container">

                {%- if tweets == [] %}
                <div class="col-md-12" data-animate="fadeInUp">

                    <div id="blog-homepage" class="row">
                        <div class="col-sm-12">
                            <div class="post">
                                <h2><a href="post.html">No tweets to display</a></h2>
                            </div>
                        </div>

                    </div>
                    <!-- /#blog-homepage -->
                </div>
                {%- else %}
                    {%- for tweet in tweets %}
                        {{ tweet }}
                    {%- endfor %}
                {%- endif %}
            </div>
            <!-- /.container -->

            <!-- *** BLOG HOMEPAGE END *** -->


        </div>
        <!-- /#content -->

    </div>
    <!-- /#all -->




    <!-- *** SCRIPTS TO INCLUDE ***
 _________________________________________________________ -->
    <script src="static/js/demo/jquery-1.11.0.min.js"></script>
    <script src="static/js/demo/bootstrap.min.js"></script>
    <script src="static/js/demo/jquery.cookie.js"></script>
    <script src="static/js/demo/waypoints.min.js"></script>
    <script src="static/js/demo/modernizr.js"></script>
    <script src="static/js/demo/bootstrap-hover-dropdown.js"></script>
    <script src="static/js/demo/owl.carousel.min.js"></script>
    <script src="static/js/demo/front.js"></script>


</body>

</html>
