{% extends "base.html" %}

{% block title %}
Project Slick
{% endblock %}

{% block styles %}
    <!-- Bootstrap itself -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles -->
    <link rel="stylesheet" href="static/css/magister.css"><!-- landing page -->

    <link rel="stylesheet" href="static/css/reset.css">
    <link rel="stylesheet" href="static/css/style.css"><!-- Navigation links -->
{% endblock %}

{% block fonts %}
    <!-- Fonts -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>
{% endblock %}

{% block nav_links %}
<header>
    <nav class="cd-stretchy-nav">
        <a class="cd-nav-trigger" href="#0">
            Menu
            <span aria-hidden="true"></span>
        </a>

        <ul>
            <li><a href="#head" class="active"><span>Home</span></a></li>
            <li><a href="#about"><span>About me</span></a></li>
            <li><a href="#contact"><span>Contact</span></a></li>
        </ul>

        <span aria-hidden="true" class="stretchy-nav-bg"></span>
    </nav>
</header>
{% endblock %}

{% block content %}
<!-- Main (Home) section -->
<section class="section" id="head">
    <div class ="container">

        <div class="row">
            <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">
                <h1 class="title">Slick</h1>
                <h2 class="subtitle">A collection of messenger bots</h2>

                <h3 class="tagline">
                    Slick started out as a project with the purpose of being able to send messages from Telegram to Whatsapp and vice versa.<br>
                    After several months, the project shifted course to a new path.
                </h3>

                <p>Now it will comprise of several bots. The bots will work in Telegram, Facebook Messenger, Slack and Twitter.</p>
            </div>
        </div>

    </div>
</section>

<!-- Second (About) section -->
<section class="section" id="about">
    <div class="container">
        <h2 class="text-center title">About me</h2>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-2">
                <h5><strong>A little background info on me<br></strong></h5>
                <p>My name is Victor and I'm a second year undergraduate student studying for a degree in Mathematics and Computer Science. I specialise mainly as a backend developer. Python is my go to programming language and it's what I've employed with this project. Artificial intelligence and Natural Language Processing are areas that interest me the most. I'm an avid PC Gamer and music lover.
                Feel free to <a href="#contact">Contact me.</a></p>
            </div>
            <div class="col-sm-4">
                <h5><strong>About Slick<br></strong></h5>
                <p>Slick started out as a project name for a service I was workin on. Slick was meant to enable someone to send messages from Whatsapp to Telegram and vice versa. I hit a roadblock due to whatsapp's stance against using third-party apis. I didn't want to invest time in it if I'd constantly be implementing features to avoid having my numbers blocked. So, now Slick acts as the project name for a family of messaging bots I'm introducing. The first one will soon launch into private beta. <a href="#contact">Send me a message</a> if you'd like to participate.</p>
            </div>
        </div>
    </div>
</section>

<!-- Third (Contact) section -->
<section class="section" id="contact">
    <div class="container">
        <h2 class="text-center title">Get in touch</h2>

        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <p class="lead">Have a question about Slick or you just wanna say hi?</p>
                <p>Feel free to message me</p>
                <p><b>victor@slick.co.ke</b><br><br></p>
                <ul class="list-inline list-social">
                    <li><a href="https://twitter.com/vickz84259" class="btn btn-link"><i class="fa fa-twitter fa-fw"></i>Twitter</a></li>
                    <li><a href="https://m.me/vickz84259" class="btn btn-link"><i class="fa fa-facebook-official fa-fw"></i>Facebook</a></li>
                    <li><a href="https://github.com/vickz84259" class="btn btn-link"><i class="fa fa-github fa-fw"></i>Github</a><li>
                    <li><a href="https://telegram.me/vickz84259" class="btn btn-link"><i class="fa fa-paper-plane fa-fw"></i>Telegram</a></li>
                    <li><a href="https://linkedin/in/vickz84259" class="btn btn-link"><i class="fa fa-linkedin fa-fw"></i>LinkedIn</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
<!-- Custom template scripts -->
<script src="static/js/magister.js"></script>
<script src="static/js/main.js"></script>
{% endblock %}
