{% extends "base.html" %}

{% block title %}
Project Slick
{% endblock %}

{% block styles %}
    <!-- Bootstrap itself -->
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles -->
    <link rel="stylesheet" href="static/css/magister.css"><!-- landing page -->
{% endblock %}

{% block fonts %}
    <!-- Fonts -->
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>
{% endblock %}

{% block nav_links %}
<nav class="mainmenu inside">
    <div class="container">
        <div class="dropdown">
            <button type="button" class="navbar-toggle" data-toggle="dropdown"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <!-- <a data-toggle="dropdown" href="#">Dropdown trigger</a> -->
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><a href="#head" class="active">Slick</a></li>
                <li><a href="#about">About me</a></li>
                <li><a href="#contact">Get in touch</a></li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<!-- Main (Home) section -->
<section class="section inside" id="head">
    <div class ="container">

        <div class="row">
            <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">
                <h1 class="title">Slick</h1>
                <h2 class="subtitle">A collection of messaging bots</h2>

                <h3 class="tagline">
                    Slick started out as a project with the purpose of being able to send messages from Telegram to Whatsapp and vice versa.<br>
                    After several months, the project shifted course to a new path.
                </h3>

                <p><a href="#about" class="btn btn-default btn-lg">
                More info</a></p>
            </div>
        </div>

    </div>
</section>

<!-- Second (About) section -->
<section class="section inside" id="about">
    <div class="container">
        <h2 class="text-center title">About me</h2>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-2">
                <h5><strong>A little background info on me<br></strong></h5>
                <p>My name is Victor and I'm a second year undergraduate student studying for a degree in Mathematics and Computer Science. I specialise mainly as a backend developer. Python is my go to programming language and it's what I've employed with this project. Artificial intelligence and Natural Language Processing are areas that interest me the most. I'm an avid PC Gamer and music lover.
                Feel free to <a href="#contact">Contact me.</a></p>
            </div>
            <div class="col-sm-4">
                <h5><strong>About Slick<br></strong></h5>
                <p>Slick started out as a project name for a service I was working on. Slick was meant to enable someone to send messages from Whatsapp to Telegram and vice versa. I hit a roadblock due to whatsapp's stance against using third-party apis. I didn't want to invest time in it if I'd constantly be implementing features to avoid having my numbers blocked. So, now Slick acts as the project name for a family of messaging bots I'm introducing. Each bot will operate in Telegram, Twitter, Slack and Facebook messenger. The first one will soon launch into private beta. <a href="#contact">Send me a message</a> if you'd like to participate.</p>
            </div>
        </div>
    </div>
</section>

<!-- Third (Contact) section -->
<section class="section" id="contact">
    <div class="container">
        <h2 class="text-center title">Get in touch</h2>

        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <p class="lead inside">Have a question about <a href="#head">Slick</a> or you just wanna say hi?</p>
                <p>Feel free to message me</p>
                <p><b>victor@slick.co.ke</b><br><br></p>
                <ul class="list-inline list-social">
                    <li><a href="https://twitter.com/vickz84259" class="btn btn-link"><i class="fa fa-twitter fa-fw"></i>Twitter</a>
                    </li>
                    <li><a href="https://m.me/vickz84259" class="btn btn-link"><i class="fa fa-facebook-official fa-fw"></i>Facebook</a>
                    </li>
                    <li><a href="https://github.com/vickz84259" class="btn btn-link"><i class="fa fa-github fa-fw"></i>Github</a>
                    </li>
                    <li><a href="https://telegram.me/vickz84259" class="btn btn-link"><i class="fa fa-paper-plane fa-fw"></i>Telegram</a>
                    </li>
                    <li><a href="https://linkedin.com/in/vickz84259" class="btn btn-link"><i class="fa fa-linkedin fa-fw"></i>LinkedIn</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
<!-- Custom template scripts -->
<script src="static/js/magister.js"></script>
{% endblock %}
